.color-options {
  position: absolute;
  z-index: 100;
  top: 97%;
  left: 2%;
  z-index: 10;
  border: 1px solid #d1cbcb;
  border-radius: 10%;
  border-radius: 8%;
  }
  
  .ColorCard {
    width: 220px; /* Adjust the width dynamically based on content */
    height: auto;
    padding: 5px;
    background-color: white;
  }
  
  .ColorCardContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px; /* Adjust the gap between color options */
    align-items: center; /* Align items vertically center */
    height: 30px;
  }
  
  .color-option {
    width: 23px;
    height: 23px;
    border: 1px solid gray;
    cursor: pointer;
    border-radius: 50%;
    margin-bottom: 5px;
  }
  
  .color-option:hover {
    border-color: black;
  }