.header {
  display: flex;
  top: 0;
  left: 0;
  width: 100vw;
  position: fixed;
  height: 48px;
  padding: 8px;
  background-color: #ffffff;
  border-bottom: 1px solid #e0e0e0;
  z-index: 10;

  .space {
    width: .5%;
  }

  .mainMenu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.2%;

    button {
      border: none;
      padding: 0;
      color: #36454f;
      background-color: transparent;
      outline: none;
      border: none;  
    }

    &:hover {
      background-color: #c8c8c8;
      border-radius: 100%;
    }
  }

  .logo-container {
    display: flex;
    align-items: center;
    margin-left: 1%;
    width: 17%;

    .logo {
      width: 40px;
      height: 40px;
      margin-right: 8px;
      position: fixed;
    }

    span {
      color: #3c4043;
      font-family: "Product Sans", Arial, sans-serif;
      font-size: 22px;
    }

    .logo-text {
      position: fixed;
      margin-left: 3%;
    }

    svg {
      color: #5f6368;
    }
  }

  .search-container {
    display: flex;
    align-items: center;
    width: 45%;

    .search-button {
      display: flex;
      align-items: center;
      background: #f1f3f4;
      border-radius: 8px;
      padding: 0 8px;
      height: 48px;
    }

    button {
      background: none;
      border: none;
      padding: 0;
      cursor: pointer;
    }

    .search-input {
      padding: 2%;
      background: #f1f3f4;
      border: 1px solid #f5ecec;
      outline: none;
      width: 100%;
      box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
      height: 45%;
      border-radius: 8px;
    }

    .search-icon {
      display: none;
      font-size: medium;
      cursor: pointer;
      color: #555;
    }

    input {
      display: flex;
      align-items: center;
      padding: 0 8px;
      font: normal 16px Google Sans, Roboto, Helvetica, Arial, sans-serif;
    }

    .closeicon {
      visibility: hidden;
    }
  }

  .user-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  .icons {
    display: flex;
    cursor: pointer;
    color: #5f6368;
    align-items: center;
    justify-content: space-evenly;
    width: 13%;
  }

  .lastpartOfheader {
    display: flex;
    align-items: center;
    width: 10%;
    justify-content: space-evenly;
  }

  .spacer {
    width: 10%;
  }

  .user-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 27%;
    height: 85%;
    border-radius: 50%;
    background-color: rgb(217, 57, 214);
    color: white;
    font-size: 25px;
    cursor: pointer;
    line-height: 20px;

    span {
      margin-bottom: 3px;
    }
  }

  .username {
    font-family: "Google Sans", "Roboto";
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: center;
    letter-spacing: normal;
    color: #181717;
    margin-top: 0;
  }

  .user-card {
    position: absolute;
    top: 97%;
    right: 3%;
    width: 18%;
    background-color: #ffffff;
    border: 1px solid #d3d3d3;
    border-radius: 11%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    z-index: 1000;
    padding: 20px;
  }

  .profile-button-container {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }

  .profile-picture-label {
    display: flex;
    width: 68px;
    height: 64px;
    border-radius: 50%;
    background-color: purple;
    cursor: pointer;
    justify-content: center;
    align-items: center;

    span {
      font-weight: 600;
      line-height: normal;
      font-size: 26px;
      color: white;
    }

    &:hover {
      background-color: #f0f0f0; /* Change background color on hover */
    }
  }

  .profile-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }

  input[type="file"] {
    display: none;
  }

  .account {
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .account-actions {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }

  .add-account-button,
  .sign-out-button {
    background-color: #ffffff;
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    color: #494949;

    &:hover {
      background-color: #f0f0f0;
    }

    svg {
      margin-right: 5px;
    }
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .header {
    .logo-container {
      width: 20%;
      margin-left: 0.1%;

      .logo-text {
        margin-left: 4%;
      }
    }
    .spacer {
      width: 8%;
    } 
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  .header {
    .space{
      width: 2%;
    }
    .logo-container {
      width: 20%;
      margin-left: 0;

      .logo {
        display: block;
      }

      .logo-text {
        font-size: 17px;
        margin-left: 5%;
      }
    }

    .spacer {
      width: 4.5%;
    }

    .lastpartOfheader {
      width: 12%;
    }

    .user-circle {
      width: 35%;
      height: 66%;
    }
  }
}

@media only screen and (min-width: 381px) and (max-width: 480px) {
  .header {
    height: 33px;

    .icons svg,
    .lastpartOfheader svg,
    .menu svg {
      font-size: larger;
    }

    .user-circle {
      width: 42%;
      height: 75%;
    }

    .layout-toggle {
      margin-top: 6%;
      display: none;
    }

    .icons {
      width: 24%;
    }

    .lastpartOfheader {
      width: 16%;
    }

    .logo-container {
      width: 40%;
      margin-right: 4%;

      .logo {
        display: block;
        width: 7%;
        height: 4%;
      }

      .logo-text {
        font-size: 18px;
        margin-left: 7%;
      }
    }

    .spacer {
      width: 0;
    }

    .search-container {
      width: auto;

      .search-input {
        display: none;
      }

      .search-icon {
        display: block;
        font-size: larger;
      }

      &.active {
        .search-input {
          display: block;
          width: 100%;
        }

        .search-icon {
          display: none;
        }
      }
    }

    .mainMenu {
      width: 5.2%;
    }
  }
}

@media only screen and (min-width: 321px) and (max-width: 380px) {
  .header {
    height: 33px;

    .icons svg,
    .lastpartOfheader svg,
    .menu svg {
      font-size: larger;
    }

    .user-circle {
      width: 44%;
      height: 92%;

      span {
        font-size: 20px;
      }
    }

    .layout-toggle {
      display: none;
    }

    .icons {
      width: 22%;
    }

    .lastpartOfheader {
      width: 20%;
    }

    .logo-container {
      width: 42%;

      .logo {
        display: block;
        width: 28px;
        height: 4%;
      }

      .logo-text {
        font-size: 16px;
        margin-left: 9%;
      }
    }

    .spacer {
      width: 0;
    }

    .search-container {
      width: auto;

      .search-input {
        display: none;
      }

      .search-icon {
        display: block;
        font-size: larger;
      }

      &.active {
        .search-input {
          display: block;
          width: 100%;
        }

        .search-icon {
          display: none;
        }
      }
    }

    .mainMenu {
      width: 5.2%;
    }
  }
}

@media only screen and (max-width: 320px) {
  .header {
    height: 33px;

    .icons svg,
    .lastpartOfheader svg,
    .menu svg {
      font-size: large;
    }

    .user-circle {
      width: 44%;
      height: 88%;

      span {
        font-size: 20px;
      }
    }

    .layout-toggle {
      display: none;
    }

    .icons {
      width: 22%;
    }

    .lastpartOfheader {
      width: 20%;
    }

    .squareIcon img{
      font-size: small;
    }

    .logo-container {
      width: 42%;
      margin-left: 0.1%;

      .logo {
        display: block;
        width: 24px;
        height: 4%;
      }

      .logo-text {
        font-size: 14px;
        margin-left: 8%;
      }
    }

    .spacer {
      width: 0;
    }

    .search-container {
      width: auto;

      .search-input {
        display: none;
      }

      .search-icon {
        display: block;
        font-size: large;
      }

      &.active {
        .search-input {
          display: block;
          width: 100%;
        }

        .search-icon {
          display: none;
        }
      }
    }

    .mainMenu {
      width: 5.2%;
    }
  }
}
