
.text{
    color: #5f6368;
    cursor: default;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 1.375rem;
    font-weight: 400;
    margin-top: 3%; 
}
  
  .reminder-notes-container {
    position: fixed;
    margin-left: 23%;
    width: 1040px;
    top: 18%;
    
    .header-card {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .bgImage {
      margin-top: 13%;
    color: #e4dede;
    }

    img {
      margin-left: 30%;
      width: 100px;
    }
  }